.example-container {
    position: static;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .example-full-width{
      width: 98%;
      margin-bottom:-5%;
  }
.logout{
    background-color: #f09942;
    color: white;
    position: relative;
    right: 5%;
    float:right;
}
mat-card{
    margin-bottom: 8%;
}
.flex{
    display:flex;
    flex-direction: column;
}
.wrap{
    margin-top:-100%;
}
p{
    padding: 2%;
}
.red{
    height: 3px;
    color: red; 
    background-color: red;
    border: none;
    margin-top: -5%;
    padding-bottom: 2%;
}
.orange{
    height: 3px;
    color: orange; 
    background-color: orange;
    border: none;
    margin-top: -5%;
    padding-bottom: 2%;
}
.green{
    height: 3px;
    color: green; 
    background-color: green;
    border: none;
    margin-top: -5%;
    padding-bottom: 2%;
}
.menu{
  float: right;
  margin-right: 10%;
  margin-top: 5%;
  background-color: white;
}
@media screen and (max-width : 500px) {
    .menu{
        float: right;
        margin-right: 20px;
        margin-top: 10%;
        background-color: white;
      }
      .example-container {
        position: static;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
}