<div class="sign-in">
    <h4 class="heading1">Traffic Analysis.io</h4>
    <h4 class="heading2">SIGN INTO YOUR ACCOUNT NOW</h4>

    <label class="form-label" >Your Email</label><br>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email" tabindex="2" required>

    <label class="form-label2" >Your password</label><br>
    <input type="email" class="form-control2" id="email" name="email" placeholder="password" tabindex="2" required>

    <button type="submit" class="btn btn-start-order" routerLink="/back-end">Sign in</button>

</div>

<div class="bottom"></div>
<div class="bottom1"></div>
<div class="bottom2"></div>
