<app-background></app-background>

<div class="login-page">
    
    <div class="form">
        
        <h4>Sign in!</h4>
        
        <form class="login-form">

        <input type="text" placeholder="username" [(ngModel)]="email" name="email" required autofocus/>
        <input type="password" placeholder="password" [(ngModel)]="password" name="password" required/>

        <button (click)="login()" class="login" [disabled]="!email || !password">Login</button>

        <span class="or"> OR </span>

        <a routerLink="/back-end"> <button (click)="authService.googleLogin()" >Google login</button></a>

        <p class="message">Not registered? <a routerLink="/register">Create an account</a></p>
      </form>

    </div>
  </div>