<app-nav></app-nav>

<div class="bottom"></div>
<div class="bottom1"></div>
<div class="bottom2"></div>

<div class="textarea">
    <h1 class="textarea-heading1">FIND YOUR IDEAL <br> DESTINATION IN LESS <br> THAN 30 SECONDS</h1>
    <p class="textarea-heading3">We are a revolutionary Traffic Analysis platform for Dublin, Ireland.</p>
    <p class="textarea-heading3">Instantly access your ideal location.</p>

    <button class="get-started-button">
      Start Searching Now
    </button>
  </div>
  
<div class="map" id="map"></div>

