body{
    overflow: hidden;
}
.example-container {
    position: static;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .example-full-width{
      width: 98%;
      margin-bottom:-5%;
  }
.button{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}
.streaming{
    position: relative;
    left: 3%;
}
.logout{
    background-color: #f09942;
    color: white;
    position: relative;
    right: 5%;
    float:right;
}
mat-card{
    margin-bottom: 8%;
}
.flex{
    display:flex;
    flex-direction: column;
}
.wrap{
    margin-top:-100%;
}
p{
    padding: 2%;
}
.red{
    height: 3px;
    color: red; 
    background-color: red;
    border: none;
    margin-top: -5%;
    padding-bottom: 2%;
}
.orange{
    height: 3px;
    color: yellow; 
    background-color: yellow;
    border: none;
    margin-top: -5%;
    padding-bottom: 2%;
}
.green{
    height: 3px;
    color: green; 
    background-color: green;
    border: none;
    margin-top: -5%;
    padding-bottom: 2%;
}
.menu{
  position: absolute;
  top: 2%;
  right: 0;
}
.material-icons.color_white { color: #FFFFFF; }

@media screen and (min-width : 1400px) {
    mat-card{
        margin-bottom: 33%;
    }
}

@media screen and (max-width : 500px) {
    
      .example-container {
        position: static;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      mat-card{
        margin-bottom: 3%;
    }

    .flex{
        display:flex;
        flex-direction: column;
        margin-top:2%;
    }
}