<nav id="main-menu">

    <div class="logo">
        <div class="loader"><div class="loader-inner"></div></div>
        

        <span class="span" routerLink="/">TrafficAnalysis.io</span>
    </div>

    <ul class="nav-bar">


        <li>
            <button class="home-button" routerLink="/">
                <a>Home</a>
            </button>
        </li>
        
        <li>
             <button class="register-button" routerLink="/register">
                <a>Register</a>
            </button>
        </li>
  
        <li>
          <button class="sign-up-button" routerLink="/sign">
            Sign In
          </button>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>